body {
  background-color: #262c7e;
}

div.form-option {
  margin-bottom: 40px;
}

div.inner-form-option {
  margin: 15px;
}

div.tooltip-player-name {
  font-weight: bolder;
  font-size: xx-large;
  text-decoration: underline;
  margin-bottom: 5px;
}

.chart {
  margin: 10px;
}

.content {
  display: flex;
  height: 100vh;
}

/* LEFT region */
.left {
  flex-basis: 16%;
  background-color: #0e1249;
  height: 91%;
  overflow-y: auto;
  /* margin-left: 15px; */
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 1%;
}

.country-checkbox {
  margin-bottom: 12px;
}

/* CENTER region */
.center {
  flex-basis: 68%;
  background-color: #262c7e;
  height: 92%;
  overflow-y: auto;
  padding: 1%;
  display: flex;
  flex-direction: row; /* Change to row for horizontal layout */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
}

.svg {
  background-color: #e6effc; /* background color */
  border: 6px solid #ccc; /* svg border */
}

.tooltip-chart {
  display: block;
  background: rgb(69, 77, 93);
  border-radius: 0.1rem;
  color: #fff;
  display: block;
  font-size: 20px;
  /* max-width: 1000px; */
  padding: 0.2rem 0.4rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: pre;
  z-index: 300;
  visibility: hidden;
}

.x-axis {
  fill: #000000;
  color: #000000;
  font-size: 71%;
}

.y-axis {
  fill: #000000;
  color: #000000;
  font-size: 90%;
}

.x-axis line {
  stroke: #000;
  stroke-width: 4;
  shape-rendering: auto;
}

.y-axis line {
  stroke: #000;
  stroke-width: 4;
  shape-rendering: auto;
}

.x-label {
  text-anchor: middle;
  font-family: "Arial";
  font-size: 26px;
  fill: #000000;
}

.y-label {
  text-anchor: middle;
  font-family: "Arial";
  font-size: 26px;
  fill: #000000;
}

.chart-title {
  font-family: "Arial";
  font-size: 28px;
  fill: #000000;
  font-weight: bold;
}

.chart-index {
  font-family: "Arial";
  font-size: 18px;
  fill: #000000;
  font-weight: bold;
}

.legend-item-labels {
  font-size: 16px;
  fill: #000000;
}

/* RIGHT region */
.right {
  flex-basis: 16%;
  background-color: #0e1249;
  height: 91%;
  overflow-y: auto;
  /* margin-right: 15px; */
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.right img {
  margin-top: 25px;
  width: 75px;
  height: 75px;
}

.tooltip-player {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  opacity: 0;
  /* overflow-y: auto; */
}

.right label {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.error-msg {
  color: #ff0000;
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}

.search-button {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: #1279ff;

  cursor: pointer;
  &:active {
    background-color: #1216ff;
  }
}

/* style the button when in disabled state */
.search-button:disabled {
  background-color: #868686;
  cursor: not-allowed; /* Cursor to 'not-allowed' */
}

.svg-icon.search-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  .search-path {
    stroke: #ffffff;
  }
}

#player-search-field {
  width: 180px;
  height: 25px;
  font-size: medium;
  margin-top: 8px;
}

.searchResults {
  margin-top: 20px;
  height: 220px;
  width: 105%;
  background-color: #000;
  overflow-y: auto;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.resultButton-On {
  background-color: #353535;
  color: #ffffff;
  font-size: 14px;
  height: 35px;
  width: 180px;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 35px;
}

.resultButton-Off {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  height: 35px;
  width: 180px;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 35px;
}

.results-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: larger;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  width: 99%;
  height: 80px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.error-msg {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}

h2 {
  color: white;
  /* font-size: 32px; */
  font-size: 32px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: left;
}

h3 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form label {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

form option-label {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}


form filter-type {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

form config-type {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}


select {
  width: 200px;
  height: 28px;
  font-size: medium;
}

button {
  width: 120px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: large;
  border-radius: 15px;
  cursor: pointer;
}

/* style the button when in disabled state */
button:disabled {
  background-color: #868686;
  color: #aaaaaa; /* Icon color */
  cursor: not-allowed; /* Cursor to 'not-allowed' */
}
